USE [master]
GO
/****** Object:  Database [SoftoneStudentSystem]    Script Date: 11/14/2024 4:51:38 PM ******/
CREATE DATABASE [SoftoneStudentSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoftoneStudentSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SoftoneStudentSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoftoneStudentSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SoftoneStudentSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoftoneStudentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoftoneStudentSystem]
GO
/****** Object:  User [Buddhika]    Script Date: 11/14/2024 4:51:38 PM ******/
CREATE USER [Buddhika] FOR LOGIN [Buddhika] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Student_Personal]    Script Date: 11/14/2024 4:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Personal](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentCode] [varchar](10) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Address] [varchar](250) NULL,
	[Mobile] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[DOB] [datetime] NULL,
	[NIC] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Student_Personal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/14/2024 4:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
